 ##                                                                  Use Case 2 - Walmart Dataset

In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

### 1. Start a simple Spark Session

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark= SparkSession.builder.appName('walmart').getOrCreate()

### 2. Load the Walmart Stock CSV File, have Spark infer the data types.

In [5]:
df = spark.read.csv("walmart_stock (1).csv", inferSchema=True, header=True)

### 3. What are the column names?

In [6]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

### 4.What does the Schema look like?

In [7]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

### 5. Print out the first 5 columns.

In [8]:
df.head(5)

[Row(Date='2012-01-03', Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996),
 Row(Date='2012-01-04', Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475),
 Row(Date='2012-01-05', Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539),
 Row(Date='2012-01-06', Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922),
 Row(Date='2012-01-09', Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)]

### 6.Use describe() to learn about the DataFrame

In [9]:
df.describe().show()

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

### 7.In the above output there are many decimal points. No, you are asked 
to format the numbers to just show up to two decimal places.

In [21]:
from pyspark.sql.functions import round
df.select(round('Open',2).alias('Open') , round('High',2).alias('High'),round('Low',2).alias('Low'),
round('Close',2).alias('Close'),round('Volume',2).alias('Volume'),round('Adj Close',2).alias('Adj Close')).show()

+-----+-----+-----+-----+--------+---------+
| Open| High|  Low|Close|  Volume|Adj Close|
+-----+-----+-----+-----+--------+---------+
|59.97|61.06|59.87|60.33|12668800|    52.62|
|60.21|60.35|59.47|59.71| 9593300|    52.08|
|59.35|59.62|58.37|59.42|12768200|    51.83|
|59.42|59.45|58.87| 59.0| 8069400|    51.46|
|59.03|59.55|58.92|59.18| 6679300|    51.62|
|59.43|59.71|58.98|59.04| 6907300|    51.49|
|59.06|59.53|59.04| 59.4| 6365600|    51.81|
|59.79| 60.0| 59.4| 59.5| 7236400|     51.9|
|59.18|59.61|59.01|59.54| 7729300|    51.93|
|59.87|60.11|59.52|59.85| 8500000|     52.2|
|59.79|60.03|59.65|60.01| 5911400|    52.34|
|59.93|60.73|59.75|60.61| 9234600|    52.86|
|60.75|61.25|60.67|61.01|10378800|    53.21|
|60.81|60.98|60.51|60.91| 7134100|    53.13|
|60.75| 62.0|60.75|61.39| 7362800|    53.54|
|61.18|61.61|61.04|61.47| 5915800|    53.61|
| 61.8|61.84|60.77|60.97| 7436200|    53.18|
|60.86|61.12|60.54|60.71| 6287300|    52.95|
|60.47|61.32|60.35| 61.3| 7636900|    53.47|
|61.53|61.57|60.58|61.36| 9761500|    53.52|
+-----+-----+-----+-----+--------+---------+
only showing top 20 rows

### 8.Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock 
traded for a day.

In [11]:
df_hv = df.withColumn('HV Ratio', df['High']/df['Volume']).select(['HV Ratio'])
df_hv.show()

+--------------------+
|            HV Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

### 9. What day had the Peak High in Price?

orderBy() function is used to sort DataFrame by ascending or descending order based on single or multiple column

In [12]:
df.orderBy(df['High'].desc()).select(['Date']).head(1)[0]['Date']

'2015-01-13'

### 10. What is the mean(Average) of the Close column?

returns the average value from a particular column in the DataFrame.

In [13]:
from pyspark.sql.functions import mean
df.select(mean('Close')).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

### 11. What is the max and min of the Volume column?

 to return the minimum and maximum value from a particular column in the DataFrame.

In [14]:
from pyspark.sql.functions import min , max
df.select(min('Volume'),max('Volume')).show()

+-----------+-----------+
|min(Volume)|max(Volume)|
+-----------+-----------+
|    2094900|   80898100|
+-----------+-----------+

### 12. How many days was the Close lower than 60 dollars?

In [15]:
df.filter(df['Close'] < 60).count()

81

### 13. What percentage of the time was the High greater than 80 dollars ? 
In other words, (Number of Days High>80)/(Total Days in the dataset)

In [16]:
df.filter('High > 80').count() * 100/df.count()

9.141494435612083

### 14. What is the Pearson correlation between High and Volume?

In [17]:
df.corr('High','Volume')

-0.3384326061737161

### 15. What is the max High per year?

In [18]:
from pyspark.sql.functions import year
df.groupBy(year("Date")).agg({"High":"Max"}).sort("year(Date)").show()

+----------+---------+
|year(Date)|max(High)|
+----------+---------+
|      2012|77.599998|
|      2013|81.370003|
|      2014|88.089996|
|      2015|90.970001|
|      2016|75.190002|
+----------+---------+

### 16. What is the average Close for each Calendar Month?

 to make a special signature for a column or table that is more often readable and shorter.

In [19]:
from pyspark.sql.functions import month
meanv = df.groupBy(month("Date").alias("month")).agg(mean("Close").alias("mean value"))
meanv.sort('month').show()

+-----+-----------------+
|month|       mean value|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+